<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.image.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <div class="center">
    <%= link_to "Buy It Now", new_product_order_path(@product), class: "btn btn-primary", data: { no_turbolink: true } %>
  </div>
</p>

<!-- Implemented "Tell, Don't ask" pattern using helper file  -->
<%= show_product_edit_button(@product) %>

<%= link_to 'Back', products_path, class: "btn btn-link" %>
